*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	font-family: 'Rubik';
	font-size: 12px;
	line-height: 138.5%;
	color: #616161;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;color: #000000;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 100%;
}
.main {
	flex: 1 1 auto;
}
[class*="__container"] {
	max-width: 1080px;
	margin: 0 auto;
	padding: 0 10px;
}
.menu__body._active {
	right: 0;
}
.menu__icon._active span {
	transform: scale(0) translate(0px, -50%);
}
.menu__icon._active::before {
	top: 50%;
	transform:  translate(0px, -50%) rotate(-45deg);
}
.menu__icon._active::after {
	bottom: 50%;
	transform: translate(0px, 50%) rotate(45deg);
}
body._lock {
	overflow: hidden;
}
.red {
	background-color: #EC5863;
}
.blue {
	background: #4285F4;
}
.blue-text {
	color: #4285F4;
}
.red-text {
	color: #EC5863;
}
.title {
	font-family: 'Rubik';
	font-weight: 700;
	font-size: 44px;
	line-height: 126%;	
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #000000;
}
.text {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 138.5%;
	letter-spacing: 0.08em;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #616161;
}

/* ------------------------- */

.header {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 114px;
}
.header__logo {
	z-index: 10;
}
.header__menu {
	display: flex;
	align-items: center;
}
.menu__icon {
	display: none;
}
@media (min-width:768px) {
	.menu__list {
		display: flex;
		gap: 40px;
		padding-right: 38px;
	}
}
.menu__link {
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 10px;
	line-height: 12px;
	letter-spacing: 0.14em;
}
.header__download {
	min-width: 252px;
	display: flex;
	justify-content: flex-end;
}
.button {
	z-index: 15;
	width: 130px;
	height: 40px;
	border-radius: 5px;
	font-family: 'Raleway';
	font-weight: 800;
	font-size: 10px;
	line-height: 12px;
	letter-spacing: 0.14em;
	color: #FCFDFE;
}
@media (max-width:767px) {
	.menu__icon {
		z-index: 5;
		width: 30px;
		height: 21px;
		display: block;
		position: relative;
		left: 0;
		cursor: pointer;
	}
	.menu__icon span,
	.menu__icon::before,
	.menu__icon::after {
		position: absolute;
		width: 100%;
		height: 10%;
		background-color: #000000;
		transition: all 0.3s ease 0s;
	}
	.menu__icon::before,
	.menu__icon::after {
		content: '';
	}
	.menu__icon span {
		top: 50%;
		transform: scale(1) translate(0, -50%);
	}
	.menu__icon::before {
		top: 0;
	}
	.menu__icon::after {
		bottom: 0;
	}
	.menu__body {
		position: fixed;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100%;
		background-color: #FFF;
		padding: 120px 30px 30px 30px;
		transition: right 0.3s ease 0s;
	}
	.header__download {
		order: -1;
		min-width: 150px;
		display: flex;
		justify-content: flex-start;
	}

	.menu__link {
		font-size: 24px;
		line-height: 26px;
		letter-spacing: 0.14em;
	}
	.menu__list li {
		margin-bottom: 50px;
	}
}

@media (max-width:480px) {
	.header__logo {
		width: 40.22px;
		overflow: hidden;
	}
}

/* -------------------------- */

.take-care {
	padding-top: 114px;
}
.take-care__container {
}
@media (min-width: 1080px) {
	.take-care__main {
		display: flex;
		align-items: center;
	}
}
.take-care__main {
	margin-bottom: 60px;
}
.take-care__info {
	max-width: 497px;
}
.take-care__title {
	margin-bottom: 12px;
}
.take-care__text {
	margin-bottom: 24px;
}
.take-care__image {
	text-align: center;
}
.take-care__image img {
	max-width: 100%;
	height: auto;
}
.take-care__video {
	display: flex;
	align-items: center;
	gap: 12px;
}
.video__info {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.video__image {
}
.video__title {

}
.video__link {
}